<!doctype html>
<head>
    <title>Retouch API</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        <h3>Please add image, mask and prompt </h3>
        <table>
            <tr>
                <td>Image</td>
                <td><input type="file" name="image"></td>
            <tr>
            <tr>
                <td>Top</td>
                <td><input type="number" name="top"></td>
            <tr>
            <tr>
                <td>Bottom</td>
                <td><input type="number" name="bottom"></td>
            </tr>
            <tr>
                <td>Right</td>
                <td><input type="number" name="right"></td>
            </tr>
            <tr>
                <td>Left</td>
                <td><input type="number" name="left"></td>
            </tr>
            <tr>
                <td>Height</td>
                <td><input type="number" name="height"></td>
            </tr>
            <tr>
                <td>Width</td>
                <td><input type="number" name="width"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Upload" /></td>
            </tr>
        </table>
    </form>
</body>